h1{
	text-align: center;
}

.fond{
	margin-right: -15px;
	margin-left: -15px;
}

.taille{
	height: 100px;
	width: 100px;
}

.nav{
	text-align: right;
}

.deco{
	color: white;
}

.position{
	position: absolute;
	right: 20px;
}

