h1{
	text-align: center;
}

.fond{
	margin-right: -15px;
	margin-left: -15px;
}

.taille{
	height: 100px;
	width: 100px;
}

.nav{
	text-align: right;
	padding: 40px;
}

.deco{
	color: white;
}

.position{
	position: absolute;
	right: 20px;
}

.positionName{
	position: absolute;
	right: 150px;
}

@media (max-width: 768px) { 
	.titre{

		font-size: 5vw;
	}
}

@media (max-width: 460px) { 
	.titre{
		font-size: 0px;
	}
}

@media (max-width: 300px) { 
	.taille{
	height: 50px;
	width: 50px;
	}

}


